body {
  min-width: 1060px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*container============================================================================================================================================================================================================================================================================================================================================================================================*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*HEADER===========================================================================================================================================================================================================================================================================================================================*/

.background-grey {
  width: 100%;
  background-color: #eeeeee;
}

.main-header {
  margin-bottom: 81px;
  background-color: #eeeeee;
}

.main-header__main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 50px;

  background-color: transparent;
}

.main-header__logo {
  width: 160px;
  height: 65px;
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.3;
}

.main-header__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-right: 31px;
  width: 452px;

  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header__site-navigation li {
  position: relative;
  padding-bottom: 15px;
  padding-left: 3px;
  margin-right: 44px;
}

.main-header__site-navigation li:nth-child(4n),
.main-header__site-navigation li:last-child {
  margin-right: 0;
}

.actual::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}


.main-header__user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 160px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.user-navigation__a {
  position: relative;
  padding-left: 50px;
}

.user-navigation__a::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 10px;

  min-width: 15px;
  min-height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.main-header__site-navigation,
.main-header__user-navigation {
  list-style: none;
}

.user-navigation__a {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-header__site-navigation a,
.main-header__user-navigation a {
  color: #000000;
}

.main-header__site-navigation a:hover,
.main-header__site-navigation a:focus,
.main-header__user-navigation a:hover,
.main-header__user-navigation a:focus {
  color: #fb565a;
}

.main-header__site-navigation a:active,
.main-header__user-navigation a:active {
  color: #bebebe;
}

/*SLIDER====================================================================================================================================================================================================================================================================================================================*/
.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 95px;
  z-index: 100;

  min-width: 88px;
  height: 18px;

  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  padding: 8px;

  vertical-align: top;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list__item {
  display: none;
  padding: 73px 0 93px 0;
}

.slider-list__item:nth-child(1) {
  display: block;
}

.slider-list__item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -7px;
}

.slider-list__item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-list__item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-list__item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-list__item p {
  margin: 0;
  margin-bottom: 52px;
}

/* FOR BUTTON================================================================================================================================================================================================================================================*/

.btn {
  padding: 16px 55px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;

  cursor: pointer;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: #e37376;
}

.slider-list__item-btn {
  min-width: 240px;
}

.offers__list-btn {
  display: block;
  padding: 16px 40px;
  max-width: 160px;
}

.offers__list-item:nth-child(2) a {
  background-color: #00ca74;
}

.offers__list-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.offers__list-item:nth-child(2) a:active {
  background-color: #00aa62;
  color: #37bc83;
}

.offers__list-item:nth-child(3) a {
  background-color: #efc84a;
}

.offers__list-item:nth-child(3) a:hover {
  background-color: #eab534;
}

.offers__list-item:nth-child(3) a:active {
  background-color: #e5a722;
  color: #ebba52;
}

.offers__list-img1,
.offers__list-img2,
.offers__list-img3 {
  margin-bottom: 25px;
  width: 300px;
  height: 146px;
}

.offers__list-img1 {
  background-image: url("../img/img-web.jpg");
}

.offers__list-img2 {
  background-image: url("../img/img-app.jpg");
}

.offers__list-img3 {
  background-image: url("../img/img-present.jpg");
}

.filters__btn {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.filters__btn:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.filters__btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 3px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 3px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*MAIN MAIN MAIN=====================================================================================================================================================================================================================================================================================================================================*/

.offers {
  min-height: 430px;
  border-bottom: 2px solid #eeeeee;
}

/*DELIMiTER-1================================================================================================================================================*/

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;
  min-height: 350px;
  list-style: none;
}

.offers__list-item {
  width: 300px;
  margin-bottom: 20px;
}

.offers__list-item img {
  margin-bottom: 19px;
}

.offers__list h3 {
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.offers__list-text {
  width: 255px;
  max-height: 50px;
  margin-bottom: 32px;
  overflow: auto;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 525px;

  padding-bottom: 59px;

  border-bottom: 2px solid #eeeeee;
}

.about-us__delimiter-1 {
  width: 660px;
}

.about-us__delimiter-2 {
  width: 360px;
}

.about-us__title {
  display: inline-block;
  margin-top: 74px;
  margin-bottom: 17px;

  vertical-align: top;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us__delimiter-1 .about-us__p {
  margin-bottom: 39px;
}

.about-us__list-item::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-us__list-item {
  position: relative;
  margin-top: 30px;
}

.about-us__title-ul {
  text-transform: uppercase;
}

.about-us__list {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  list-style: none;
}

.about-us__list-item-text {
  margin: 0;
  margin-top: -6px;
}

/*DELIMiTER-2=================================================================================================================================================*/

.about-us__img {
  margin-bottom: 29px;
  margin-top: 39px;
}

.about-us__text {
  display: inline-block;
  margin: 0;
  margin-bottom: 31px;
  padding-left: 16px;

  vertical-align: top;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*TABLE===========================================================================================================================================================================================================================================================================================================================*/
.indicators {
  width: 360px;
}

.indicators__data {
  padding-right: 20px;
  padding-bottom: 16px;
  width: 120px;
  line-height: 18px;
}

.indicators__numeric {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.indicators__percent {
  font-size: 25px;
  line-height: 45px;
  vertical-align: 30%;
}

/*КЛИЕНТУРА==================================================================================================================================================================================================================================================================================================================================*/
.clientage {
  min-width: 1186px;
  min-height: 182px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}


.clientage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-top: 49px;

  list-style: none;
}

.clientage__list-item {
  position: relative;

  width: 260px;
  min-height: 95px;
  margin-right: 40px;
  margin-bottom: 23px;

  text-align: center;
}

.clientage__list-item::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -19px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.clientage__list-item:nth-child(4n) {
  margin-right: 0;
}

.clientage__list-item:nth-child(4n)::after,
.clientage__list-item:last-child::after {
  display: none;
}

.clientage__list-item-logo1,
.clientage__list-item-logo3 {
  padding-top: 12px;
}

.clientage__list-item-logo1,
.clientage__list-item-logo2,
.clientage__list-item-logo3,
.clientage__list-item-logo4 {
  opacity: 0.2;
}

.clientage__list-item-logo1:hover,
.clientage__list-item-logo2:hover,
.clientage__list-item-logo3:hover,
.clientage__list-item-logo4:hover {
  opacity: 1;
}

.clientage__list-item-logo1:focus,
.clientage__list-item-logo2:focus,
.clientage__list-item-logo3:focus,
.clientage__list-item-logo4:focus {
  opacity: 1;
}

.clientage__list-item-logo1:active,
.clientage__list-item-logo2:active,
.clientage__list-item-logo3:active,
.clientage__list-item-logo4:active {
  opacity: 0.1;
}

/*FOOTER==================================================================================================================================================================================================================================================================================================================================================================================================================*/

.main-footer {
  position: relative;
}

.map-wrapper {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  min-height: 416px;
  margin-bottom: 60px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top center;

  z-index: 1;
}


.pin-wrapeer {
  position: absolute;
  top: 88px;
  left: 700px;

  width: 231px;
  height: 190px;

  background-image: url(../img/pin.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.main-footer__map {
  position: relative;

  margin: 0 auto;
  width: 1200px;

  background-size: cover;

  border: 0;

  z-index: 3;
}

.main-footer__address {
  position: absolute;
  top: 52px;
  left: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  min-height: 310px;
  padding: 49px 51px;

  background-color: #ffffff;

  z-index: 5;
}

.main-footer__address-title {
  display: inline-block;
  margin-bottom: 23px;
  margin-top: 1px;

  vertical-align: top;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer__address-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 220px;
  max-height: 110px;

  line-height: 18px;
  color: #666666;

  overflow: auto;
}

.main-footer__address-phone {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 38px;
  vertical-align: top;
}

.main-footer__address-btn {
  padding: 16px 43px;
  min-width: 220px;
  text-transform: uppercase;
}

.main-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0;
  margin-right: 138px;
  min-height: 80px;
  list-style: none;
}

.social-list-item {
  margin-bottom: 10px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1 ;
}


.social-button:last-child {
  margin-right: 0;
}

.social-button svg {
  text-align: center;
}

.social-button:hover,
.socail-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

.main-footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding-top: 7px;
}

.main-footer__tagline {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.main-footer__sale {
  line-height: 22px;
  color: #444444;
}

/*MODAL ============================================================================================================================================================================================================================================================================================================================================================================================================*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}


@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 960px;
  min-height: 590px;
  padding: 71px 100px;
  margin-left: -480px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 60px 0 rgba(0, 1, 1, 0.8);
          box-shadow: 0 20px 60px 0 rgba(0, 1, 1, 0.8);

  z-index: 6;
}

.modal-feedback {
  position: fixed;
  top: 113px;
  left: 50%;
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__title {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.modal__form p {
  width: 360px;
  margin: 0;
  margin-bottom: 32px;

  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.modal__form p:nth-child(3) {
  width: 100%;
  margin-bottom: 43px;
}

.modal__label {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}

.modal input {
  width: 360px;
  min-height: 50px;
  padding: 14px 14px;
}

.modal textarea {
  width: 760px;
  min-height: 118px;
  padding: 11px;
}

.modal input,
.modal textarea {
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid #000000;
}

.modal input,
.modal textarea {
  outline: 0;
}

.modal__input:invalid {
  border: 2px solid #e74246;
}

.modal__btn {
  width: 260px;
  min-height: 50px;
  border: 0;
}

.modal__close {
  position: absolute;
  top: 80px;
  right: 87px;

  width: 25px;
  height: 25px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";

  position: absolute;
  top: 9px;
  right:0;

  width: 25px;
  height: 3px;

  background-color: #fecccd;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close:hover::before,
.modal__close:hover::after {
  background-color: #fb565a;
}

.modal__close:active::before,
.modal__close:active::after {
  background-color: #ffeeee;
}

/*INNER PAGE================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/

.inner-page .main-header {
  margin-bottom: 49px;
}

.inner-page .main-header__main-navigation {
  padding-top: 50px;
  margin-bottom: 72px;
}

.inner-page__main-header__h1 {
  display: block;
  width: 750px;
  margin: 0;
  margin-left: 216px;
  padding-bottom: 108px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.inner-page__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.filters {
  width: 260px;
  margin-right: 140px;
}

.filters__range-filter {
  width: 260px;
  margin-top: 48px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  min-height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #eeeeee;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  cursor: pointer;
}

.range-controls .toggle-min {
  top: 30px;
  left: 18px;
}

.range-controls .toggle-max {
  top: 30px;
  left: 160px;
}

.price-controls {
  width: 260px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-transform: uppercase;
}

.min-price__text {
  padding-left: 2px;
}

.min-price {
  margin-right: 31px;
}

.max-price__text {
  padding-top: 5px;
}

.price-controls input {
  width: 80px;
  padding: 10px 13px;
  margin-left: 8px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

.price-controls .max-price {
  text-align: right;
}

.max-price input {
  margin-left: 6px;
}


.checkbox {
  position: relative;
  padding-left: 38px;
  padding-top: 2px;
  cursor: pointer;
}

.net-list__item {
  margin: 0;
  margin-bottom: 10px;
}

.net-list__item label {
  display: inline-block;
  vertical-align: top;
}

.adaptive:hover,
.fix:hover,
.rubber:hover {
  color: #000000;
}

.checkbox input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 2px;

  width: 25px;
  height: 25px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 2px;

  width: 22px;
  height: 22px;

  background-image: url(../img/checkbox-off.svg);

  opacity: 0.5;
}

.checkbox input[type="radio"]:focus + .checkbox-indicator,
.checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #4d4d4d;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox input[type="radio"]:hover + .checkbox-indicator {
  border-color: #4d4d4d;
}

.checkbox input[type="radio"]:checked + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4.5px;

  width: 9px;
  height: 9px;

  background-color: #b8b8b8;

  border-radius: 50%;
}

.checkbox input[type="radio"]:focus + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4.5px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;

  border-radius: 50%;
}

.checkbox input[type="radio"]:checked:hover + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4.5px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;

  border-radius: 50%;
}

.net-list__item input[type="checkbox"]:disabled + label,
.especially-list__item input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 2px;

  width: 27px;
  height: 27px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;

  opacity: 0.4;
}

.checkbox input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 1;
}

.filters__price,
.filters__net,
.filters__especially {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters__price {
  padding-top: 4px;
  letter-spacing: 1px;
}

.filters__net {
  margin-bottom: 12px;
}

.filters__especially {
  margin-bottom: 12px;
}

.filters__net-list,
.filters__especially-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__net-list {
  margin-bottom: 45px;
}

.net-list__item {
  margin-bottom: 16px;
}

.especially-list__item {
  margin-bottom: 16px;
}

.filters__especially-list {
  margin-bottom: 47px;
}

.filters label {
  line-height: 20px;
}

.filters__btn {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

/*SORTING================================================================================================================================================================================================================================================================================================================================================================================================*/

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 760px;
  margin-bottom: 49px;

  text-transform: uppercase;
}

.sorting-wrapper p {
  margin: 0;
}

.sorting {
  padding-top: 3px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.sorting-value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  margin-left: 267px;
  margin-right: 38px;
}

.sorting-value-wrapper a:nth-child(3n) {
  margin-right: 0;
}

.sorting-value-wrapper a:last-child {
  margin-right: 9px;
}

.by-price,
.by-type,
.by-name {
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}

.by-type,
.by-name {
  opacity: 0.25;
}

.by-price:hover,
.by-price:focus,
.by-type:hover,
.by-type:focus,
.by-name:hover,
.by-name:focus {
  opacity: 0.6;
}

.by-price:active,
.by-type:active,
.by-name:active {
  opacity: 1;
}

.sorting-wrapper .current {
  opacity: 1;
}

.descendingly,
.ascendingly {
  display: block;
  width: 11px;
  height: 10px;
}

.descendingly {
  margin-right: 14px;
}

.ascendingly {
  margin-right: 5px;
}

.descendingly svg,
.ascendingly svg {
  opacity: 0.2;
}

.current svg {
  opacity: 1;
}

.descendingly svg:hover,
.descendingly svg:focus,
.ascendingly svg:hover,
.descendingly svg:focus {
  opacity: 0.6;
}

.descendingly svg:active,
.ascendingly svg:active {
  opacity: 1;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-bottom: 29px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 760px;

  list-style: none;
}

.products__list-item {
  position: relative;

  width: 360px;
  margin-right: 40px;
  margin-bottom: 26px;
  padding-top: 40px;
}

.products__list-item::before {
  content: url(../img/browser-icon.png);
  position: absolute;
  top:0;
  left: 0;

  width: 360px;
  height: 40px;
}

.products__list-item:hover::before,
.products__list-item:focus::before {
  content: url(../img/browser-hover.png);
  position: absolute;
  top:0;
  left: 0;

  width: 360px;
  height: 40px;
}

.products__list-item:nth-child(2n) {
  margin-right: 0;
}

.hover__wrapper {
  display: none;
}

.products__list-item:hover .hover__wrapper,
.products__list-item:focus .hover__wrapper {
  display: block;
}

.hover {
  position: absolute;
  top: 385px;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 360px;
  min-height: 230px;
  height: 231px;

  background-color: #eeeeee;
}

.hover__title {
  margin: 0;
  padding: 0;
  margin-top: -13px;
  margin-bottom: 15px;
  padding-right: 3px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hover__text {
  padding: 0;
  margin: 0 78px;
  width: 200px;
  height: 55px;

  line-height: 18px;
  color: #666666;

  text-align: center;

  overflow: auto;
}

.hover__btn {
  margin-top: 10px;
  min-width: 200px;
}

/*PAGGINATION================================================================================================================================================================================================================================*/

.paggination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-left: 421px;
  margin-bottom: 59px;

  font-weight: 500;

  list-style: none;
}

.paggination-list__item {
  margin-right: 12px;
}

.paggination-list__item:last-child {
  margin-right: 0;
}

.paggination-list__item-number {
  display: block;
  padding: 14px 20px;
  background-color: #eeeeee;
  line-height: 18px;
  color: #000000;
}

.paggination-list__item-number:hover,
.paggination-list__item-number:focus {
  background-color: #dfdfdf;
  color: #000000;
}

.paggination-list__item-number:active {
  background-color: #d5d5d5;
  color: #b0b0b0;
}

.paggination-list__item-nextpage {
  display: block;
  min-width: 260px;
  padding: 16px 79px;
  text-align: center;

  background-color: #eeeeee;

  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.paggination-list__item-nextpage:hover,
.paggination-list__item-nextpage:focus {
  background-color: #dfdfdf;
  color: #000000;
}

.paggination-list__item-nextpage:active {
  background-color: #d5d5d5;
  color: #b0b0b0;
}

.paggination-list__item .current {
  padding: 12px 17px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
